<app-header></app-header>
      <div class="welcome py-1">
        <div class="container py-xl-1 py-lg-1" id="services">
            <div class="row">
                <div class="col-lg-5 welcome-left">
                    <h3 class="title-w3ls mt-2 mb-3">Services provided by EazyBank</h3>

                    <p class="mt-4 pr-lg-5">Eazy Bank offers a diverse range of financial products and banking services to customers through a growing branch and ATM network and digital channels such as Netbanking, Phonebanking and MobileBanking.

                    </p>
                </div>
                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-sm-4 service-1-w3pvt serve-gd1">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-users s1"></span>
                                <p class="mt-2">Personal Loan </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd2">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-handshake-o s2"></span>
                                <p class="mt-2">Business Loan </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-home s3"></span>
                                <p class="mt-2">Home Loan </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd3">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-car s4"></span>
                                <p class="mt-2">Auto Loan </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-stethoscope s5"></span>
                                <p class="text-li mt-2">Health Loan </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-graduation-cap s6"></span>
                                <p class="mt-2">Education Loan </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>